body {
    margin: 0;
    color: #6a6f8c;
    background: #B0E0E6;
    font: 600 16px/18px 'Open Sans', sans-serif;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.login-wrap {
    width: 100%;
    margin: auto;
    max-width: 525px;
    min-height: 670px;
    position: relative;

    background:
        url("https://i.pinimg.com/originals/d6/79/23/d67923fd3a82b56925cc6162c80ca3cd.jpg")
        center;

    background-size: cover;

    box-shadow:
        0 12px 15px 0 rgba(0,0,0,.87),
        0 17px 50px 0 rgba(0,0,0,.74);
}

.login-html {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 90px 70px 50px 70px;
    background: rgba(40,57,101,.9);
}

.login-html .sign-in-htm,
.login-html .sign-up-htm {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    position: absolute;

    transform: rotateY(180deg);
    backface-visibility: hidden;

    transition: all .4s linear;
}

.login-html .sign-in,
.login-html .sign-up {
    display: none;
}

.login-html .tab,
.login-form .form-group .label,
.login-form .form-group .button {
    text-transform: uppercase;
}

.login-html .tab {
    font-size: 22px;

    margin-right: 15px;
    padding-bottom: 5px;
    margin: 0 15px 10px 0;

    display: inline-block;

    border-bottom: 2px solid transparent;

    cursor: pointer;
}

.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab {
    color: #fff;
    border-color: #1161ee;
}

.login-form {
    min-height: 345px;
    position: relative;

    perspective: 1000px;
    transform-style: preserve-3d;
}

.login-form .form-group {
    margin-bottom: 15px;
}

.login-form .form-group .label,
.login-form .form-group .input,
.login-form .form-group .button {
    width: 100%;
    color: #fff;
    display: block;
}

.login-form .form-group .input,
.login-form .form-group .button {

    border: none;

    padding: 15px 20px;

    border-radius: 25px;

    background: rgba(255,255,255,.1);
}

.login-form .form-group .label {
    color: #aaa;
    font-size: 12px;
}

.login-form .form-group .button {
    background: #1161ee;
    cursor: pointer;
}

.login-html .sign-in:checked
+ .tab
+ .sign-up
+ .tab
+ .login-form
.sign-in-htm {

    transform: rotate(0);
}

.login-html .sign-up:checked
+ .tab
+ .login-form
.sign-up-htm {

    transform: rotate(0);
}

.hr {

    height: 2px;

    margin:
        60px
        0
        50px
        0;

    background:
        rgba(255,255,255,.2);
}

.foot-lnk {
    text-align: center;
    color: white;
}